/data/network_parameters/east_coast_main_line/angles_east_coast_main_line.npz
/data/network_parameters/glasgow_edinburgh_falkirk/angles_glasgow_edinburgh_falkirk.npz
/data/network_parameters/west_coast_main_line/angles_west_coast_main_line.npz
/data/axle_positions/at_end_axle_pos_glasgow_edinburgh_falkirk.npz
/data/axle_positions/axle_positions.npz
/data/axle_positions/axle_positions_at_end_ge.npz
/data/rail_data/east_coast_main_line/east_coast_main_line.geojson
/data/rail_data/east_coast_main_line/east_coast_main_line_lengths_angles.npz
/data/rail_data/glasgow_edinburgh_falkirk/glasgow_edinburgh_falkirk.geojson
/data/rail_data/glasgow_edinburgh_falkirk/glasgow_edinburgh_falkirk_lengths_angles.npz
/data/glasgow_edinburgh_falkirk_timetable.xlsx
/data/network_parameters/east_coast_main_line/nodal_admittance_matrix_east_coast_main_line_dry.npy
/data/network_parameters/east_coast_main_line/nodal_admittance_matrix_east_coast_main_line_moderate.npy
/data/network_parameters/east_coast_main_line/nodal_admittance_matrix_east_coast_main_line_wet.npy
/data/network_parameters/glasgow_edinburgh_falkirk/nodal_admittance_matrix_glasgow_edinburgh_falkirk_dry.npy
/data/network_parameters/glasgow_edinburgh_falkirk/nodal_admittance_matrix_glasgow_edinburgh_falkirk_moderate.npy
/data/network_parameters/glasgow_edinburgh_falkirk/nodal_admittance_matrix_glasgow_edinburgh_falkirk_wet.npy
/data/network_parameters/west_coast_main_line/nodal_admittance_matrix_west_coast_main_line_dry.npy
/data/network_parameters/west_coast_main_line/nodal_admittance_matrix_west_coast_main_line_moderate.npy
/data/network_parameters/west_coast_main_line/nodal_admittance_matrix_west_coast_main_line_wet.npy
/data/network_parameters/east_coast_main_line/nodes_east_coast_main_line.npz
/data/network_parameters/glasgow_edinburgh_falkirk/nodes_glasgow_edinburgh_falkirk.npz
/data/network_parameters/west_coast_main_line/nodes_west_coast_main_line.npz
/data/network_parameters/east_coast_main_line/sub_blocks_east_coast_main_line.npz
/data/network_parameters/glasgow_edinburgh_falkirk/sub_blocks_glasgow_edinburgh_falkirk.npz
/data/network_parameters/west_coast_main_line/sub_blocks_west_coast_main_line.npz
/data/rail_data/west_coast_main_line/west_coast_main_line_lengths_angles.npz
/data/rail_data/west_coast_main_line/west_coast_main_line.geojson
/data/network_parameters/glasgow_edinburgh_falkirk/train_pos_day.npy
/resistivity/test.py
